# AD (Altium Designer) PCB
*.PrjPCB
*.SchDoc
*.PcbDoc
*.OutJob
*.Rep
*.Jou
*.Log
*.DsnDoc
*.IntLib
*.PcbLib
*.SchLib
*.LibPkg
*.CmpLib
*.OutJob
*.Rep
*.Jou
*.Log
*.DsnDoc
*.IntLib
*.PcbLib
*.SchLib
*.LibPkg
*.CmpLib

# Vivado Verilog
*.jou
*.log
*.str
*.html
*.xml
*.xpr
*.xsa
*.hdf
*.bit
*.ltx
*.ncp
*.ngc
*.ngd
*.dcp
*.svf
*.vcd
*.sim
*.webtalk
*.runs
*.cache
*.ip_user_files
*.xgui
*.hw
*.sdk
*.ipstatic
*.ip_repo
*.xsim.dir